# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Viransehir,TR,37.2353,39.7631,70.52,41,0,3.49,Clear
1,1,Busselton,AU,-33.6500,115.3333,58.59,82,100,8.10,Clouds
2,2,Ushuaia,AR,-54.8000,-68.3000,44.26,45,0,5.75,Clear
3,3,Rodrigues Alves,BR,-7.7380,-72.6509,89.80,85,100,1.34,Clouds
4,4,Hermanus,ZA,-34.4187,19.2345,57.42,54,18,20.33,Clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input('What is the minimum temperature you would like for your trip?'))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input('What is the maximum temperature you would like for your trip?'))

What is the minimum temperature you would like for your trip?70
What is the maximum temperature you would like for your trip?95

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [5]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df[(city_data_df['Max Temp'] >= min_temp) & city_data_df['Max Temp'] <= max_temp]
                                    
# Display sample data
preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Viransehir,TR,37.2353,39.7631,70.52,41,0,3.49,Clear
1,1,Busselton,AU,-33.6500,115.3333,58.59,82,100,8.10,Clouds
2,2,Ushuaia,AR,-54.8000,-68.3000,44.26,45,0,5.75,Clear
3,3,Rodrigues Alves,BR,-7.7380,-72.6509,89.80,85,100,1.34,Clouds
4,4,Hermanus,ZA,-34.4187,19.2345,57.42,54,18,20.33,Clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [6]:
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] >= min_temp) & 
                                       city_data_df['Max Temp'] <= max_temp]
preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Viransehir,TR,37.2353,39.7631,70.52,41,0,3.49,Clear
1,1,Busselton,AU,-33.6500,115.3333,58.59,82,100,8.10,Clouds
2,2,Ushuaia,AR,-54.8000,-68.3000,44.26,45,0,5.75,Clear
3,3,Rodrigues Alves,BR,-7.7380,-72.6509,89.80,85,100,1.34,Clouds
4,4,Hermanus,ZA,-34.4187,19.2345,57.42,54,18,20.33,Clouds

In [13]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
#clean_travel_cities = preferred_cities_df.isnull().sum()
clean_travel_cities = preferred_cities_df.dropna()
# Display sample data
clean_travel_cities.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Viransehir,TR,37.2353,39.7631,70.52,41,0,3.49,Clear
1,1,Busselton,AU,-33.6500,115.3333,58.59,82,100,8.10,Clouds
2,2,Ushuaia,AR,-54.8000,-68.3000,44.26,45,0,5.75,Clear
3,3,Rodrigues Alves,BR,-7.7380,-72.6509,89.80,85,100,1.34,Clouds
4,4,Hermanus,ZA,-34.4187,19.2345,57.42,54,18,20.33,Clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [15]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[['City', 'Country', 'Max Temp', 'Current Description', 'Lat', 'Lng']]

# Display sample data
hotel_df.head()

              City Country  Max Temp Current Description      Lat       Lng
0       Viransehir      TR     70.52               Clear  37.2353   39.7631
1        Busselton      AU     58.59              Clouds -33.6500  115.3333
2          Ushuaia      AR     44.26               Clear -54.8000  -68.3000
3  Rodrigues Alves      BR     89.80              Clouds  -7.7380  -72.6509
4         Hermanus      ZA     57.42              Clouds -34.4187   19.2345

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [16]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df['Hotel Name'] = ''

# Display sample data
hotel_df.head()

/Users/akbarsaidakramov/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Viransehir,TR,70.52,Clear,37.2353,39.7631,
1,Busselton,AU,58.59,Clouds,-33.6500,115.3333,
2,Ushuaia,AR,44.26,Clear,-54.8000,-68.3000,
3,Rodrigues Alves,BR,89.80,Clouds,-7.7380,-72.6509,
4,Hermanus,ZA,57.42,Clouds,-34.4187,19.2345,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [17]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [19]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

/Users/akbarsaidakramov/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Viransehir,TR,70.52,Clear,37.2353,39.7631,Yukselhan Hotel
1,Busselton,AU,58.59,Clouds,-33.6500,115.3333,Observatory Guest House
2,Ushuaia,AR,44.26,Clear,-54.8000,-68.3000,Albatros Hotel
3,Rodrigues Alves,BR,89.80,Clouds,-7.7380,-72.6509,Pousada Aconchego
4,Hermanus,ZA,57.42,Clouds,-34.4187,19.2345,Misty Waves Boutique Hotel

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [21]:
import numpy as np
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.replace('', np.nan, inplace=True)
clean_hotel_df = hotel_df.dropna()
# Display sample data
clean_hotel_df.head()

/Users/akbarsaidakramov/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/core/frame.py:5244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Viransehir,TR,70.52,Clear,37.2353,39.7631,Yukselhan Hotel
1,Busselton,AU,58.59,Clouds,-33.6500,115.3333,Observatory Guest House
2,Ushuaia,AR,44.26,Clear,-54.8000,-68.3000,Albatros Hotel
3,Rodrigues Alves,BR,89.80,Clouds,-7.7380,-72.6509,Pousada Aconchego
4,Hermanus,ZA,57.42,Clouds,-34.4187,19.2345,Misty Waves Boutique Hotel

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [23]:
# In case of an empty DataFrame, load the sample data provided
#clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
#clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [24]:
# Set the file name.
output_data_file = ('WeatherPy_vacation.csv')

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label='City_ID')

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [25]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [26]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Yukselhan Hotel</dd>\n<dt>City</dt><dd>Viransehir</dd>\n<dt>Country</dt><dd>TR</dd>\n<dt>Current Weather</dt><dd>Clear and 70.52 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Observatory Guest House</dd>\n<dt>City</dt><dd>Busselton</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>Clouds and 58.59 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Albatros Hotel</dd>\n<dt>City</dt><dd>Ushuaia</dd>\n<dt>Country</dt><dd>AR</dd>\n<dt>Current Weather</dt><dd>Clear and 44.26 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pousada Aconchego</dd>\n<dt>City</dt><dd>Rodrigues Alves</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>Clouds and 89.8 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Misty Waves Boutique Hotel</dd>\n<dt>City</dt><dd>Hermanus</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>Clouds and 57.42 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Estrela Palace Hotel</dd>\n<dt>City</dt><dd>Cruzeiro Do Sul</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>Clouds and 75.49 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Abaporu Hotéis</dd>\n<dt>City</dt><dd>Adamantina</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>Rain and 74.84 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Lamar Resort Abu Soma</dd>\n<dt>City</dt><dd>Safaga</dd>\n<dt>Country</dt><dd>EG</dd>\n<dt>Current Weather</dt><dd>Clouds and 80.64 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel do Campo</dd>\n<dt>City</dt><dd>Ponta Do Sol</dd>\n<dt>Country</dt><dd>PT</dd>\n<dt>Current Weather</dt><dd>Clouds and 70.0 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Gran Hotel Mar del Plata</dd>\n<dt>City</dt><dd>Mar Del Plata</dd>\n<dt>Country</dt><dd>AR</dd>\n<dt>Current Weather</dt><dd>Rain and 82.42 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [27]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0   37.2353   39.7631
1  -33.6500  115.3333
2  -54.8000  -68.3000
3   -7.7380  -72.6509
4  -34.4187   19.2345
6  -29.5128  -51.9853
7  -21.6853  -51.0725
8   26.7292   33.9365
9   32.6667  -17.1000
10 -38.0023  -57.5575

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [28]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))